@*@model SachOnline.Models.DONDATHANG*@
@using SachOnline.Models;
@using PagedList.Mvc;
@model SachOnline.Models.OrderDetailsViewModel

@using PagedList;
@using PagedList.Mvc;


@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>CHI TIẾT ĐƠN ĐẶT HÀNG</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Title)*@
            Mã đơn hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.MaDonHang)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Title)*@
            Mã khách hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.KHACHHANG.MaKH)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Title)*@
            Tên khách hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.KHACHHANG.HoTen)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Title)*@
            Thanh toán:
        </dt>

        <dd>
            @{
                if (Model.Order.Dathanhtoan == false)
                {
                    <span style="color: red;">Chưa thanh toán</span>
                }
                else
                {
                    <span style="color: green;">Đã thanh toán</span>
                }
            }
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Title)*@
            Tình trạng giao:
        </dt>

        <dd>
            @{
                if (Model.Order.Tinhtranggiaohang == 0)
                {
                    <span style="color: red;">Đang giao</span>
                }
                else
                {
                    <span style="color: green;">Đã giao</span>
                }
            }
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Title)*@
            Ngày đặt:
        </dt>

        <dd>
            @Html.FormatValue(Model.Order.Ngaydat, "{0:dd/MM/yyyy}")
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Title)*@
            Ngày giao:
        </dt>

        <dd>
            @Html.FormatValue(Model.Order.Ngaygiao, "{0:dd/MM/yyyy}")
        </dd>
        <dt>
            Số lượng:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>
        <dt>
            Mã sách:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDetails.FirstOrDefault().BookID)
        </dd>
        <dt>
            Tên sách:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDetails.FirstOrDefault().Title)
        </dd>
        <dt>
            Đơn giá:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dongia)
        </dd>

    </dl>
</div>


<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Order.MaDonHang }) |
    @Html.ActionLink("VỀ TRANG QUẢN LÝ SÁCH", "Index")
</p>
