@*Khai bao su dung chuc nang phan trang*@
@using SachOnline.Models;
@using PagedList.Mvc;
@*@model IEnumerable<SachOnline.Models.Book>*@
@model PagedList.PagedList<SachOnline.Models.NhaXuatBan>

@*Xay dung mot helper tuy chinh de cat do dai chuoi*@
@helper Truncate(string s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length)<text>...</text>
    }
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">QUẢN LÝ THÔNG TIN SẢN PHẨM DÀNH CHO CÁC LOẠI DA</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhaXuatBanID)
            </th>
            <th></th>*@

        <th style="text-align:center;width:300px">
            Tên các loại da:
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*Sử dụng helper để cắt Tên sách lấy 50 ký tự*@
                @Truncate(item.NhaXuatBanName, 50)
                @* @Html.DisplayFor(modelItem => item.Title)*@
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.AuthorID)

                </td>*@

            <td>
                <a href="@Url.Action("Edit", new { id=item.NhaXuatBanID })" class="btn btn-warning" role="button">Sửa</a>
                <a href="@Url.Action("Details", new { id=item.NhaXuatBanID })" class="btn btn-primary" role="button">Chi tiết</a>
                <a href="@Url.Action("Delete", new { id=item.NhaXuatBanID })" class="btn btn-danger" role="button">Xóa</a>

            </td>
        </tr>
    }

</table>
@*Tạo liên kết phần trang*@
Trang @(Model.PageCount<Model.PageNumber ?0: Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }
</style>
